div {
    border:0px solid black;
    padding: 5px;
    }

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    }

.title {
 color: Navy;
}

i {
  color: Dodgerblue;
  opacity: .7;
}

j {
  color: silver;
  opacity: .5;
}

ii {
  color: #888;
  opacity: 1;
}

.fa-xl {
    font-size: 1.5em;
    line-height: .04167em;
    vertical-align: -.125em;
    position: relative;
    top: 5px;
    left: -10px;
}

o {
  color: grey;
  opacity: .5;
}

.title {
  font-family: Arial;
  font-weight: bold;
  font-size: 18pt;
  margin-left:40px;
}

.correct {
  color: #32CD32;
  opacity: 1;
}

.incorrect {
  color: red;
  opacity: 1;
}

.answer {
    padding: 0px;
    display: none;
}

#result {
    border: 2px solid #888;
    display: none;
    background-color: #eee
}


.popup {
    position:absolute;
    display:none;

    z-index: 2;

    width:210px;
    min-height:58px;
    margin-left: 28px;
    margin-top: 28px;

    background-color:#eee;
    border: 2px solid #888;
    padding:5px;
}


.close-image {
   cursor: pointer;
   display: block;
   float: right;
   z-index: 3;
   position: absolute; /*newly added*/
   left: 185px; /*newly added*/
   top: 15px;/*newly added*/
}


.popWrap {
   position: relative;
   display: inline;
 }

#popup-stats {
    border: 2px solid #888;
    display: none;
    min-height:200px;
    background-color:#fff;
    padding:10px;
    margin-top:10px;
}

.close-image2 {
   cursor: pointer;
   display: block;
   float: right;
   z-index: 3;
   left: 48%; /*newly added*/
   top: 5px;/*newly added*/
}

#chartbutton1 {
    color: gray;
    padding-right: 10px;
    padding-left: 0px;
}

#chartbutton {
    color: gray;
    padding-left: 50px;
}