div {
    border:0px solid black;
    padding: 5px;
    }

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
    }

.title {
 color: Navy;
}

i {
  color: Dodgerblue;
  opacity: .7;
  padding-right: 7px;
  padding-left: 6px;
}

j {
  color: silver;
  opacity: .5;
}

.fa-xl {
    font-size: 1.5em;
    line-height: .04167em;
    vertical-align: .05em;
}

o {
  color: grey;
  opacity: .5;
}

.title {
  font-family: Arial;
  font-weight: bold;
}

.correct {
  color: #32CD32;
  opacity: 1;
}

.incorrect {
  color: red;
  opacity: 1;
}

.answer {
    padding: 0px;
    display: none;
}

#result {
    border: 1px solid black;
    display: none;
}


.popup {
    position:absolute;
    display:none;
    top:0px;
    left:50%;
    width:220px;
    height:186px;
    margin-left:-105px;
    background-color:#ddd;
    z-index:2;
    padding:5px;
}
#popup5 {
    margin-top:364px;
}
#popup1 {
    margin-top:132px;
}
#popup2 {
    margin-top:190px;
}
#popup3 {
    margin-top:248px;
}
#popup4 {
    margin-top:306px;
}


.close-image {
   cursor: pointer;
   display: block;
   float: right;
   z-index: 3;
   position: absolute; /*newly added*/
   right: 5px; /*newly added*/
   top: 20px;/*newly added*/
}